mod-dir: /mods
controls:
  key-move-south: 22
  key-debug-zoom-in: 86
  key-debug-print-physics: 64
  key-move-north: 26
  key-debug-next-palette: 62
  key-toggle-debug: 60
  key-debug-zoom-out: 87
  key-move-east: 7
  key-move-west: 4
modded-save-dir: /modded-saves
can-use-debug: true
resolution:
- 1280
- 720
misc: {}
base-save-dir: /saves
server-port: 7777
target-fps: 120
initial-world: test-world
